header {
  display: flex;
  height: 60px;
  justify-content: space-between;
  background-color: white;
  border-bottom-color: rgb(222, 222, 222);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 100;
}

.left-section {
  margin-right: 50px;
  display: flex;
  align-items: center;
}

.hamburger-menu {
  width: 24px;
  height: 24px;
  margin-left: 20px;
  margin-right: 20px;
}

.youtube-logo {
  width: 90px;
  height: 20px;
}

.center-section {
  flex: 1;
  display: flex;
  align-items: center;
  max-width: 500px;
}

.center-section img {
  width: 24px;
  height: 24px;
}

.search-bar {
  flex: 1;
  height: 40px;
  width: 0;
  border-color: rgb(144, 134, 134);
  border-width: 1px;
}

.search-button {
  height: 40px;
  width: 60px;
  margin-left: -1px;
  background-color: rgb(247, 242, 242);
  border-width: 1px;
  border-color: rgb(144, 134, 134);
  cursor: pointer;
 
}

.search-button, .mic-button, .upload-con, .youtube-apps-con, .noti-bell{
   position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

.search-button .tool-tip, .mic-button .tool-tip, .upload-con .tool-tip, .youtube-apps-con .tool-tip, .noti-bell .tool-tip{
  position: absolute;
  background-color: rgba(160, 150, 150, 0.9);
  padding: 5px 10px;
  bottom: -30px;
  font-size: 12px;
  color: white;
  opacity: 0;
  pointer-events: none ;
  white-space: nowrap;
}

.search-button:hover .tool-tip, .mic-button:hover .tool-tip, .upload-con:hover .tool-tip, .youtube-apps-con:hover .tool-tip, .noti-bell:hover .tool-tip{
  opacity: 1;
}

.mic-button {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: none;
  margin-left: 20px;
  background-color: rgb(247, 242, 242);
  cursor: pointer;
}


.mic-img {
  width: 24px;
  height: 24px;
  margin-left: 15px;
}

.right-section {
  width: 200px;
  margin-left: 33px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-shrink: 0px;
}

.right-section .upload,
.right-section .youtube-apps,
.right-section .noti {
  width: 24px;
  height: 24px;
}


.noti-num {
  background-color: rgb(193, 7, 7);
  color: white;
  position: absolute;
  font-size: 11px;
  padding: 2px 5px;
  border-radius: 10px;
  top: -2px;
  right: -2px;
}

.channel-dp {
  width: 40px;
  border-radius: 20px;
}
